// Color --=======
$yellow: #FCB72B;
$dark: #495567;
$grey: #939CAA;
$light-grey:#E5ECF4;
$light-yellow: #FFF4DF;
$snow: #F2F5F9;
$white: #ffffff;

// Font --=======
$h-fonts: 'Space Mono';
$p-fonts: 'Lexend Deca';